<h1>Overview</h1>

<div class="item">Khái niệm</div>
<p>Animation provides the illusion of motion,
  Animations can improve your application and user experience in a number of ways:</p>
<ul>
  <li>Without animations, web page transitions can seem abrupt and jarring</li>
  <li>Motion greatly enhances the user experience, so animations give users a chance to detect the application's response to their actions</li>
  <li>Good animations intuitively call the user's attention to where it is needed</li>
</ul>

<div class="item">Làm sao sử dụng Animation Angular</div>
<ul>
  <li>Evaluate data binding expression: Trạng thái nào thì animation sẽ được áp dụng cho element hay host</li>
  <li>Target element, Host -> Nói cho angular biết phần tử nào được áp dụng</li>
  <li>State: Nói cho angular biết là kiểu style CSS animation sẽ được áp dụng</li>
  <li>Transition: Nói cho Angular biết quá trình chuyển đổi State sẽ như thế nào</li>
</ul>

<ul>
  Một số khai function sẽ gặp khi làm việc về Animation Angular:
  <li>trigger()</li>
  <li>style()</li>
  <li>state()</li>
  <li>animate()</li>
  <li>transition()</li>
  <li>keyframes()</li>
  <li>group()</li>
</ul>

<img class="animation-img" >




<div class="item">**Note***</div>

<ul>
  <li>Code style CSS: Camel Style or Dash Style</li>
  <li>Lifecycle of Angular: After ngOnInit, Before ngOnDestroy</li>
  <li>https://stackoverflow.com/questions/49628726/what-is-the-purpose-of-angular-animations</li>
</ul>

<div class="item">Demo</div>
<app-basic-demo></app-basic-demo>
