<h1>Overview</h1>

<h1 class="item">1. Khái niệm</h1>
<p>Animation được hiểu là hiệu ứng chuyển động, sử dụng để tạo hiệu ứng di chuyển cho các phần tử, giúp trải nghiệm người dùng được tốt hơn
  và được ứng dụng phổ biến trong các website hiện nay:</p>
<ul>
  <li>Nếu không có animation, Các phần tử trong trang web của bạn chuyển động một cách đột ngột và kh</li>
  <li>Nâng cao trải nghiệm người dùng</li>
  <li>Thu hút sự chú ý người dùng một cách trực quan đến nơi cần thiết</li>
</ul>
<p style="color: red;">Vậy nhược điểm của nó mang lại là gì? Chính là performance của website bạn, tăng đáng kể.
  Nếu website bạn lớn và dùng nhiều animation thì performance sẽ là vấn đề của ban...
</p>
<div class="item">2. Animation Angular</div>
<ul>
  <li>Là một module trong angular (@angular/animations) Được xây dựng trên những tín năng của CSS</li>
  <li>Lifecycle of Angular Animation: After ngOnInit, Before ngOnDestroy</li>
  <li>Để sử dụng Angular Animation chúng ta cần import: BrowserAnimationsModule</li>
  <li>Tương tự để tắt (disabled global) Angular Animation chúng ta import: NoopAnimationsModule</li>
</ul>
<img class="animation-img" >
<p style="margin-left: 100px; font-style: italic;">Evaluate data binding expression, Data binding target, State, Transition</p>



<div class="item"> Một số function sẽ gặp khi làm việc về Animation Angular</div>
<ul>
  <li>trigger()</li>
  <li>style()</li>
  <li>state()</li>
  <li>animate()</li>
  <li>transition()</li>
  <li>keyframes()</li>
  <li>group()</li>
</ul>






<div class="item">3. Angular animation so với CSS animation</div>
<ul>
  <li>Tạo animation nhanh hơn, dễ quản lý hơn so...(chạy nhanh hơn pure CSS animation?)</li>
  <li>Support state trang thái :enter :leave cho DOM added hoặc removed</li>
  <li>Automatic property calculation '*'</li>
  <li>Animation callbacks: animation.start() và animation.done()</li>
  <li>Tái sử dụng (Truyền parameter)</li>
</ul>


<div class="item">Demo</div>
<app-basic-demo></app-basic-demo>
